# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd

.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
brain/myBrain.uvguix.Van Binh
brain/myBrain.uvoptx
brain/myBrain.uvprojx
brain/Objects/main.crf
brain/Objects/myBrain.axf
brain/Objects/myBrain.build_log.htm
brain/Objects/myBrain.htm
brain/Objects/myBrain_Target 1.dep
Labs/Lab2/MyBlinky.uvguix.ngnig
Labs/Lab5/uart.uvguix.ngnig
Labs/Lab6/myRTX.uvguix.ngnig
